services:
  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: r507_backend
    ports:
      - "8000:8000"
    volumes:
      - data:/app/data/
    
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: r507_frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  data: